@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "EB Garamond", serif !important;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-lharmonie-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  background: none;
}

.ant-menu-submenu-active::after {
  @apply !border-none;
}

.ant-menu-item::after {
  @apply !border-none;
}

.ant-menu-item:hover {
  @apply !border-none font-semibold transition-colors;
  @apply !border-none font-bold transition-colors;
}

.ant-menu-submenu-title {
  @apply lg:!text-lharmonie-secondary !text-white;
}

.ant-menu-submenu-title {
  @apply !text-lharmonie-secondary;
}

/* .header-nav-item:hover {
  @apply text-lharmonie-secondary font-semibold;
} */

.ant-menu-submenu::after {
  @apply !border-none;
}

/* .ant-menu-submenu:hover {
  @apply !font-semibold;
} */

.ant-menu-submenu a {
  @apply !text-lharmonie-secondary;
}

/* .ant-menu-submenu.ant-menu-submenu-horizontal:hover {
  @apply font-semibold transition-colors;
} */

.ant-menu-submenu.ant-menu-submenu-horizontal:hover {
  @apply font-bold transition-colors;
}

.ant-menu-inline {
  @apply !border-none;
}

.ant-menu-item-selected {
  @apply -lg:!bg-[#8B7355] !text-lharmonie-secondary -lg:!text-white;
}

.ant-menu-submenu-selected {
  @apply -lg:!bg-[#8B7355] -lg:!text-white;
}

.ant-menu-submenu-arrow {
  @apply !text-lharmonie-secondary;
}

.header-nav-item {
  @apply !text-base;
}

.slick-dots li button {
  @apply !bg-lharmonie-hover;
}

.slick-dots li.slick-active button {
  @apply !bg-lharmonie-secondary;
}

/* .ant-carousel .slick-prev,
.ant-carousel .slick-next {
  @apply !text-lharmonie-secondary;
} */
.ant-menu-submenu::after {
  @apply !border-none;
}

.ant-menu-submenu.ant-menu-submenu-horizontal:hover {
  @apply font-bold transition-colors;
}

.ant-menu-inline {
  @apply !border-none;
}

.ant-menu-item-selected {
  @apply -lg:!bg-[#8B7355] !text-white;
}

.ant-menu-submenu-selected {
  @apply -lg:!bg-[#8B7355];
}

.ant-menu-submenu-arrow {
  @apply !text-lharmonie-secondary;
}
